@import url('https://fonts.googleapis.com/css?family=Trirong&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chonburi|Maitree&display=swap');
body {
    background-color: #f8bdb8;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

audio {
    opacity: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.top-logo {
    position: fixed;
    z-index: 100;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: -6.5%;
    top: 4%;
}

.dropdown {
    float: right;
    top: 10%;
    width: 12%;
    font-size: 10%;
}

.dropdown .dropbtn {
    font-size: 27px;
    border: none;
    outline: none;
    color: #71512e;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Chonburi;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    opacity: 0.5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 84%;
}

.dropdown-content a {
    float: none;
    color: #71512e;
    font-size: 20px;
    padding: 20px 26px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100em;
}

.bg {
    position: relative;
    width: 100%;
    top: -28%;
    left: 1%;
}

.img-content {
    position: absolute;
    top: 8%;
    left: 33%;
    max-width: 100%;
}

.friday {
    position: relative;
    z-index: 1000;
    max-width: 90%;
}

.bg-in {
    position: relative;
    z-index: 1000;
    width: 50%;
    top: 22em;
    right: 31em;
}

.text {
    overflow: scroll;
    position: absolute;
    max-width: 57%;
    top: 194%;
    font-family: 'Maitree', serif;
    font-size: 24px;
    line-height: 53px;
    color: #71512e;
}

.img-in-text {
    position: relative;
    right: 4%;
    max-width: 100%;
}

.img-spe {
    max-width: 100%;
    display: flex;
}

.img-spe-item {
    width: 45%;
}

.footer {
    z-index: 999;
    position: absolute;
    width: 100%;
    background-color: #373B44;
    color: white;
    text-align: center;
    height: 61px;
    display: block;
    text-align: center;
    margin-top: 384%;
}

h1 {
    font-size: 0.75em;
}

.img-in-paper {
    position: absolute;
    /* max-width: 100%; */
}

.f1 {
    margin-left: -56%;
    margin-top: 59%;
    z-index: 99;
}

.inf1 {
    width: 28%;
}

.f2 {
    margin-left: 38%;
    margin-top: -49%;
    z-index: 99;
}

.inf2 {
    width: 60%;
    margin-left: 109%;
    margin-top: 5%;
}

.ff1 {
    margin-left: -9%;
    margin-top: 67%;
}

.f3 {
    z-index: 99;
}

.inf3 {
    width: 33%;
    margin-left: -32%;
    margin-top: 46%;
}

.inf5 {
    width: 16%;
}

.f5 {
    margin-left: -26%;
    margin-top: -10%;
    z-index: 99;
}

.inf6 {
    width: 53%;
}

.f6 {
    position: absolute;
    right: -85%;
    margin-top: -69%;
    z-index: 99;
}

.f7 {
    position: absolute;
    margin-left: -52%;
    margin-top: 117%;
    z-index: 99;
}

.inf7 {
    width: 56%;
}

.inf8 {
    width: 57%;
}

.f8 {
    position: absolute;
    right: -71%;
    margin-top: 120%;
    z-index: 99;
}

.f9 {
    position: absolute;
    margin-left: -41%;
    margin-top: 228%;
    z-index: 99;
}

.inf9 {
    width: 49%;
}

.f10 {
    position: absolute;
    margin-left: -54%;
    margin-top: 257%;
    z-index: 99;
}

.inf10 {
    width: 56%;
}

.inf11 {
    width: 28%;
}

.f11 {
    position: absolute;
    right: -97%;
    margin-top: 241%;
    z-index: 99;
}

.f12 {
    position: absolute;
    margin-left: -35%;
    margin-top: 446%;
    z-index: 99;
}

.inf12 {
    width: 56%;
}

.inf13 {
    width: 57%;
}

.f13 {
    position: absolute;
    right: -58%;
    margin-top: 423%;
    z-index: 99;
}

.inf14 {
    width: 66%;
}

.f14 {
    position: absolute;
    right: -43%;
    margin-top: 443%;
    z-index: 99;
}

.f15 {
    position: absolute;
    margin-left: -46%;
    margin-top: 578%;
    z-index: 99;
}

.inf15 {
    width: 66%;
}

.f16 {
    position: absolute;
    margin-left: -47%;
    margin-top: 599%;
    z-index: 99;
}

.inf16 {
    width: 39%;
}

.inf17 {
    right: -72%
}

.f17 {
    position: absolute;
    right: -64%;
    margin-top: 594%;
}

@media only screen and (max-width: 1499px) {
    body {
        overflow-x: hidden;
    }
    .bg-in {
        top: 1em;
        right: -1em;
    }
    .text {
        top: 100%;
    }
    .f1 {
        margin-left: -56%;
        margin-top: -9%;
    }
    .footer {
        width: 105%;
    }
}

@media only screen and (max-width: 1326px) {
    body {
        overflow-x: hidden;
    }
    .text {
        height: 229em;
        left: 3%;
    }
    .img-in-paper {
        width: 63%;
    }
    .f1 {
        margin-left: -45%;
        margin-top: 3%;
    }
    .inf2 {
        margin-left: 124%;
    }
}

@media only screen and (max-width: 1255px) {
    body {
        overflow-x: hidden;
    }
    .text {
        height: 215em;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    .text {
        height: 202em;
    }
    .footer {
        width: 108%;
    }
    .f1 {
        margin-top: 16%;
        right: -15%;
        position: relative;
    }
    .f6 {
        right: -108%;
        position: relative;
        /* top: 60%; */
    }
}

@media only screen and (max-width: 1100px) {
    body {
        overflow-x: hidden;
    }
    .text {
        height: 184em;
    }
    .inf6 {
        width: 45%;
    }
    .f6 {
        right: -101%;
    }
    .f8 {
        right: -85%;
    }
    .f10 {
        margin-left: -68%;
    }
    .f11 {
        right: -107%;
        margin-top: 290%;
    }
    .f13 {
        right: -68%;
    }
    .f14 {
        right: -52%;
    }
    .f17 {
        right: -75%;
    }
    .friday {
        left: -7%;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .top-logo-img {
        width: 78%;
    }
    .friday {
        max-width: 63%;
        left: 3%;
    }
    .bg-in {
        top: 1%;
        right: -10%;
    }
    .text {
        font-size: 20px;
        line-height: 37px;
        height: 203em;
        left: 9%;
    }
    .footer {
        z-index: 999;
        position: absolute;
        width: 121%;
        background-color: #373B44;
        color: white;
        text-align: center;
        height: 61px;
        display: block;
        text-align: center;
        margin-top: 318%;
    }
    .f15 {
        margin-left: -24%;
        margin-top: 270%;
    }
    .inf15 {
        width: 48%;
    }
    .f16 {
        margin-left: -23%;
        margin-top: 292%;
    }
    .inf16 {
        width: 31%;
    }
    .inf17 {
        width: 32%;
    }
    .f17 {
        right: -71%;
        margin-top: 293%;
    }
    .inf11 {
        width: 28%;
    }
    .f11 {
        right: -111%;
        margin-top: 149%;
        position: relative;
    }
    .f6 {
        right: -108%;
        position: relative;
        /* top: 60%; */
    }
    .inf5 {
        width: 15%;
    }
    .f5 {
        position: relative;
        /* margin-left: -26%; */
        margin-top: -10%;
        z-index: 99;
        left: 16%;
    }
    .inf6 {
        width: 28%;
    }
    .inf3 {
        position: relative;
        width: 31%;
        /* margin-left: -32%; */
        margin-top: 45%;
        left: 14%;
    }
    .inf12 {
        width: 37%;
    }
    .inf7 {
        width: 38%;
    }
    .f7 {
        margin-left: -26%;
    }
    .f8 {
        right: -109%;
        position: relative;
    }
    .inf8 {
        width: 42%;
    }
    .inf9 {
        width: 39%;
    }
    .f9 {
        position: absolute;
        margin-left: -27%;
        margin-top: 158%;
        z-index: 99;
    }
    .f10 {
        margin-left: -51%;
        margin-top: 187%;
    }
    .inf10 {
        width: 49%;
    }
    .f12 {
        position: absolute;
        margin-left: -14%;
        margin-top: 182%;
        z-index: 99;
    }
    .inf13 {
        width: 49%;
    }
    .f13 {
        right: -99%;
        margin-top: 122%;
    }
    .f14 {
        right: -76%;
        margin-top: 141%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navbar {
        overflow-x: hidden;
    }
    .bg {
        top: -28%;
        left: 10%;
    }
    .bg-in {
        top: 1em;
        right: -5em;
    }
    .friday {
        max-width: 63%;
        left: 39px;
    }
    .text {
        left: 15%;
        position: absolute;
        font-size: 20px;
        line-height: 37px;
        height: 144em;
    }
    .img-in-paper {
        left: 13%;
    }
    .footer {
        margin-top: 246%;
        width: 135%;
        overflow: hidden;
    }
    .f1 {
        right: 1%;
    }
    .f2 {
        margin-top: -49%;
        z-index: 99;
        position: relative;
        left: -28%;
    }
    .inf3 {
        left: 2%;
    }
    .inf5 {
        right: 9%;
        position: relative;
    }
    .f6 {
        right: -92%;
    }
    .f7 {
        margin-left: -47%;
    }
    .f8 {
        right: -95%;
    }
    .inf9 {
        width: 32%;
    }
    .f9 {
        margin-left: -43%;
    }
    .inf10 {
        width: 36%;
    }
    .f11 {
        right: -95%;
    }
    .inf13 {
        width: 35%;
    }
    .f13 {
        right: -109%;
    }
    .inf14 {
        width: 50%;
    }
    .inf12 {
        width: 25%;
    }
    .f12 {
        margin-left: -27%;
    }
    .inf15 {
        width: 32%;
    }
    .f15 {
        margin-left: -32%;
    }
    .inf16 {
        width: 28%;
    }
    .f16 {
        margin-left: -42%;
    }
    .f17 {
        right: -121%;
    }
    .img-in-text {
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 427px) {
    .friday {
        max-width: 48%;
        left: 14%;
    }
    body {
        overflow-x: hidden;
    }
    .img-in-paper {
        top: 179%;
    }
    .navbar {
        width: 144%;
        left: -56%;
    }
    .text {
        height: 63em;
        top: 181%;
    }
    .bg-in {
        top: 6em;
        right: 6em;
    }
    .footer {
        margin-top: 63%;
        height: 79px;
        overflow-x: hidden;
    }
    .f13 {
        right: -183%;
        
    }
    .f14 {
        right: -133%;
        margin-top: 159%;
    }
    .f12 {
        margin-left: -31%;
    }
    .f16 {
        margin-left: -35%;
        top: 68%;
    }
    .f15 {
        margin-left: -37%;
        margin-top: 83%;
       
    }
    .inf17 {
        width: 27%;
    }
    .f17 {
        right: -141%;
        margin-top: 180%;
        
    }
}