/* Main css */
body {
    background-image: url('../image/bg-01.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
audio {
    opacity: 0;
}

.rama9 {
    position: fixed;
    width: 30%;
    top: 10%;
    left: 34%;
}
.dadtext {
    position: fixed;
    width: 26%;
    /* height: 20%; */
    top: 2%;
    left: 11%;
}
.about {
    position: fixed;
    width: 11%;
    margin-top: 14%;
    margin-left: 19%;
}

.about:hover {
    transform: scale(1.3);
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.band {
    position: fixed;
    width: 15%;
    margin-top: 11%;
    margin-left: 67%;
}
.band:hover {
    transform: scale(1.3);
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
.musical {
    position: fixed;
    width: 22%;
    top: 65%;
    left: 11%;
}
.musical:hover {
    transform: scale(1.3);
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.music {
    position: fixed;
    width: 14%;
    /* height: 34%; */
    top: 57%;
    left: 75%;
}
.music:hover {
    transform: scale(1.3);
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}
@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
    }
  }

.f1 {
    position: fixed;
    width: 21%;
    top: 43%;
    left: 51%;
    animation-name: bounceIn;
    animation-duration: 5s;
}
.f2 {
    position: fixed;
    width: 23%;
    top: 24%;
    left: 26%;
    animation-name: bounceIn;
    animation-duration: 3s;
}
.lcloud {
    position: fixed;
    width: 83%;
    top: 21%;
    left: -26%;
    opacity: 1.7;
    animation: cloud-move 20s var(--fn, linear) infinite;
    will-change: transform;
    z-index: -999;

}
@keyframes clouds-move {
    from { transform: translateX(110vw) }
    to { transform: translateX(-110%) }
  }
.rcloud {
    position: fixed;
    width: 108%;
    top: 21%;
    left: 38%;
    opacity: 2.7;
    animation: clouds-move 20s var(--fn, linear) infinite;
    will-change: transform;
    z-index: -999;
}
@keyframes cloud-move {
    from { transform: translateX(-110%) }
    to { transform: translateX(110vw) }
  }


@media only screen and (max-width: 1230px) {
    .rama9 {
        width: 33%;
        top: 26%;
        left: 33.5%;
    }
}
@media  only screen and (max-width: 1030px) {
.rama9 {
    top: 42%;
}
.f1 {
    top: 38%;
}
.f2 {
    top: 38%;
}
}
@media  only screen and (max-width: 1024px) {
    .f1 {
        top: 47%;
        width: 28%;
        left: 42%;
    }
    .f2 {
        top: 31%;
        width: 26%;
        left: 26%;
    }
    .band {
        margin-top: 21%;
        margin-left: 64%;
    }
    .about {
        width: 13%;
        margin-top: 18%;
    }
    .musical {
        width: 25%;
        top: 61%;
        left: 7%;
    }
    

}
@media only screen and (max-width: 768px) {
    .rama9 {
        top: 49%;
        width: 43%;
        left: 25%;
    }
    .dadtext {
        position: fixed;
        width: 33%;
        /* height: 20%; */
        top: 11%;
        left: 8%;
    }
    .f1 {
        width: 43%;
    top: 51%;
    left: 41%;
    }
    .f2 {
        top: 41%;
        width: 38%;
        left: 21%;
    }
    .band {
        margin-top: 35%;
        width: 24%;
        left: -12%;
    }
    .about {
        margin-top: 27%;
        width: 20%;
    }
    .musical{    
        width: 36%;
        top: 46%;
        left: 4%;
    }
    .music {
        top: 48%;
        left: 77%;
        width: 21%;
    }
    .lcloud {
        top: 45%;
    }
    .rcloud {
        top: 32%;
    }
    
}
@media only screen and (max-width: 430px) {

    .dadtext {
        position: fixed;
        width: 48%;
        /* height: 20%; */
        top: 7%;
        left: 34%;
    }
    .rama9 {
        top: 49%;
        width: 61%;
        left: 12%;
    }
    .f1 {
        width: 56%;
        top: 53%;
        left: 37%;
    }
    .f2 {
        top: 42%;
        width: 50%;
        left: 11%;
    }
    .about {
        margin-top: 26%;
        width: 25%;
    }
    .band {
        margin-top: 35%;
        width: 30%;
        left: -16%;
    }
    .musical {
        position: fixed;
        width: 46%;
        top: 39%;
        left: 2%;
    }
    .music {
        position: fixed;
        width: 25%;
        top: 39%;
        left: 72%;
    }
}
@media only screen and (max-width: 430px) {
    .rama9 {
        top: 54%;
        width: 66%;
        left: 7%;
    }
    .dadtext {
        top: 6%;
        left: 35%;
    }
    .about {
        margin-top: 32%;
        width: 28%;
    }
    .band {
        margin-top: 44%;
    width: 33%;
    left: -14%;
    }
    .musical {
        width: 51%;
        top: 38%;
    }
    .music {
        top: 40%;
        left: 68%;
        width: 29%;
}
.f1 {
    width: 66%;
    top: 58%;
    left: 33%;
}
.f2 {
    top: 48%;
    width: 53%;
    left: 3%;
}
    }
    @media only screen and (max-width: 430px) {
        .about {
            margin-top: 25%;
        }
        .band {
            margin-top: 34%;
        }
    }
